

// Default parameters for the pipeline
params {
    // Input-output data
    occ         = "data/occurrences"    // pre-processed occurrences
    data        = "${projectDir}/data"  // pipeline data
    outdir      = "PhyloTwin_output"    // output directory
    userid      = "abc"                 // user ID (if specified, will be added to the output path)

    // Taxonomic filters
    tree        = null                  // phylogenetic tree
    phylum      = null                  // phylum filter
    classs      = null                  // class filter
    order       = null                  // order filter
    family      = null                  // family filter
    genus       = null                  // genus filter
    specieskeys = null                  // file with species keys

    // Spatial filters
    resolution  = 4                     // H3 resolution
    country     = null                  // country codes (ISO 3166-1 alpha-2)
    polygon     = null                  // custom polygon file (GeoPackage or GeoJSON)
    latmin      = null                  // latitude min
    latmax      = null                  // latitude max
    lonmin      = null                  // longitude min
    lonmax      = null                  // longitude max

    // Basis of record
    basis_of_record = "PRESERVED_SPECIMEN,MATERIAL_CITATION,MACHINE_OBSERVATION"

    // Diversity metrics
    div         = "PD,MNTD,SES.PD"
    rnd         = 100                  // number of randomizations

    // Visualization
    viz         = "PD,MNTD,SES.PD"     // diversity indices to visualize
    redundancy  = 0                    // redundancy threshold

}


// Process settings
process {

    // Defaults for all processes
    cpus   = 1
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'


    withName:subset_data {
        cpus = 2
    }

    withName:estimate_diversity {
        cpus = 4
    }

}

