
// TO DO:
// - switch to `rand_curveball` for spatial randomization


// Default parameters for the pipeline
params {
    // Input-output data
    occ         = "data/occurrences"    // pre-processed occurrences
    data        = "${projectDir}/data"  // pipeline data
    outdir      = "PhyloTwin_output"    // output directory
    userid      = null                 // user ID (if specified, a subdir with this name will be created in the output path)

    // Taxonomic filters
    tree        = null                  // phylogenetic tree (name of the built-in tree, stored in the `data/Phylotrees` directory)
    phylum      = null                  // phylum filter
    classs      = null                  // class filter
    order       = null                  // order filter
    family      = null                  // family filter
    genus       = null                  // genus filter
    specieskeys = null                  // file with species keys

    // Spatial filters
    resolution  = 4                     // H3 resolution
    country     = null                  // country codes (ISO 3166-1 alpha-2)
    polygon     = null                  // custom polygon file (GeoPackage or GeoJSON)
    latmin      = null                  // latitude min
    latmax      = null                  // latitude max
    lonmin      = null                  // longitude min
    lonmax      = null                  // longitude max

    // Basis of record
    basis_of_record = "PRESERVED_SPECIMEN,MATERIAL_CITATION,MACHINE_OBSERVATION"

    // Diversity metrics
    div         = "PD,SES.PD"
    rnd         = 100                  // number of randomizations (used for Biodiverse as well)

    // Visualization
    viz         = "Richness,Redundancy,PD,SES.PD"     // diversity indices to visualize
    redundancy  = 0                                   // redundancy threshold
    noviz       = true                                // do not visualize

    // Biodiverse-related parameters
    bd_indices           = null                // "calc_phylo_corrected_weighted_endemism,calc_phylo_rpd2,calc_phylo_rpe2"
    bd_randname          = "rand_structured"   // name of the randomization method
    bd_threads           = 10                  // number of chunks for randomizations (can be run in parallel)
    bd_randconstrain     = null                // Polygons to perform spatially constrained randomization (GeoPackage format)

}


// Process settings
process {

    // Defaults for all processes
    cpus   = 1
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'


    withName:subset_data {
        cpus = 2
    }

    withName:estimate_diversity {
        cpus = 4
    }

    withName:viz_leaflet {
        cpus = 1
    }

    // ----- Biodiverse-related parameters

    withName: 'BIODIVERSE:prep_biodiv' {
        cpus = 1
    }

    withName: 'BIODIVERSE:phylodiv' {
        cpus = 1
    }

    withName: 'BIODIVERSE:rand_filelist' {
        cpus = 1
    }

    withName: 'BIODIVERSE:aggregate_rnds_biodiv' {
        cpus = 1
    }

    withName: 'BIODIVERSE:div_to_csv' {
        cpus = 1
    }

    withName: 'BIODIVERSE:merge_biodiverse_results' {
        cpus = 1
    }

}

