
// Container specifications for Singularity profile
// Currently, images should be fetched from Docker Hub
// However, Singularity may be unable to determine the container size 
// if the image was stored using an old Docker format, resulting in a pipeline execution error.

process {

    withLabel: 'container_phylotwin' {
        container = 'vmikk/phylotwin:0.6.0'
    }

    withLabel: 'container_biodiverse' {
        container = 'biodiverse:1.6.0'
    }

}

